:root {
  --green: #149414;
  --white: #ffffff;
  --black: #000000;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
  letter-spacing: 1.1px;
  padding: 60px 0 50px 0;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

p {
  font-size: 20px;
}

span {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
}

.app {
  display: block;
  padding: 25px 70px 30px 70px;
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 65px 70px 30px 70px;
  z-index: 10;
  background-color: var(--black);
  letter-spacing: 1.1px;
}

.name {
  font-size: 50px;
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.name span {
  color: var(--green);
  text-transform: uppercase;
  font-size: 50px;
}

.menu {
  padding-top: 15px;
  display: flex;
  gap: 20px;
}

.menuItem {
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  position: relative;
  padding: 5px 0px;
  opacity: 0.6;
  text-decoration: none;
}

.menuItemActive {
  display: inline-block;
  opacity: 1;
}

.menuItem:before,
.menuItem:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: var(--green);
  width: 0;
}

.menuItem:before {
  top: 0;
  left: 0;
}
.menuItem:after {
  bottom: 15px;
  right: 0;
}
.menuItem:hover,
.menuItem .current {
  opacity: 1;
}
.menuItem:hover:before,
.menuItem .current :before,
.menuItem:hover:after,
.menuItem .current :after,
.menuItemActive:before,
.menuItemActive:after {
  width: 100%;
}

/* .footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 0;
  background-color: red; 
  letter-spacing: 1.1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
} */

.mainContainer {
  display: block;
  padding: 30vh 0;
}

.resumeElem {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* height: 150px; */
  padding: 30px 0;
}

.resumeElem :nth-child(1) {
  opacity: 0.7;
  font-size: 12px;
  position: absolute;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  /* left: -10px; */
  /* top: 13px; */
  height: 20px;
  /* padding-top: 10px; */
  width: 110px;
  text-align: right;
  margin-top: 100px;
  margin-left: -30px;
}

.resumeElem :nth-child(2) {
  min-height: 110px;
  /* width: 120vw; */
  /* overflow: hidden;
  text-overflow: ellipsis; */
  flex: 1;
  /* font-size: 25px; */
}

.resumeElem :nth-child(3) {
  opacity: 0.7;
  /* for min-height check width first child */
  min-height: 80px;
  flex: 3;
}
.noPaddingSkills {
  padding: 0;
}
.resumeElemSkills {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* height: 150px; */
  padding: 30px 0;
}

.resumeElemSkills :nth-child(1) {
  /* min-height: 80px; */
  flex: 1 + 40px;
}

.resumeElemSkills :nth-child(2) {
  opacity: 0.5;
  /* font-size: 15px; */
  /* for min-height check width first child */
  /* min-height: 80px; */
  flex: 3;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 0 0 0;
}

.hideThisText {
  display: none;
}

.codeDirectionReversed {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
