:root {
  --green: #149414;
  --white: #ffffff;
  --black: #000000;
  --transparent: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 33px;
  letter-spacing: 1.1px;
  padding: 60px 0 50px 0;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0 0;
}

p {
  font-size: 20px;
}

span {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
}

.menuItemList {
  display: flex;
  padding: 0.5em 0;
  list-style: none;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 70px;
  z-index: 11;
  gap: 5px;
  font-weight: bold;
}

.menuItemListItem {
  background: var(--black);
  color: var(--white);
  padding: 1em 0.5em;
  border: 1px solid var(--green);
  margin: 0 0.1em;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
  border-radius: 3px;
  z-index: 11;
  text-transform: uppercase;
}

.menuItemListItemActive {
  color: var(--green);
}

.app {
  display: block;
  padding: 25px 70px 30px 70px;
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 65px 70px 30px 70px;
  z-index: 10;
  background-color: var(--black);
  letter-spacing: 1.1px;
}

@media screen and (min-width: 1300px) {
  .app {
    padding-right: 140px;
    padding-left: 140px;
  }
  .header {
    padding-right: 140px;
    padding-left: 140px;
  }
}

@media screen and (min-width: 1700px) {
  .app {
    padding-right: 180px;
    padding-left: 180px;
  }
  .header {
    padding-right: 180px;
    padding-left: 180px;
  }
}

.name {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.name span {
  color: var(--green);
  text-transform: uppercase;
  font-size: 35px;
}

@media screen and (min-width: 910px) {
  .name {
    flex-direction: row;
    font-size: 50px;
    gap: 5px;
  }

  .name span {
    font-size: 50px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
}

.menuItem {
  display: none;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  position: relative;
  padding: 5px 0px;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.menuIcon {
  padding-top: 15px;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .menuIcon {
    display: none;
  }

  .menu {
    padding-top: 15px;
    gap: 20px;
    flex-direction: row;
  }

  .menuItem {
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    position: relative;
    padding: 5px 0px;
    opacity: 0.6;
    text-decoration: none;
  }

  .menuItemActive {
    display: inline-block;
    opacity: 1;
  }

  .menuItemList {
    display: none;
  }
  .menuItemListItem {
    display: none;
  }
}

.menuItem:before,
.menuItem:after {
  height: 3px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: var(--green);
  width: 0;
}

.menuItem:before {
  top: 0;
  left: 0;
}
.menuItem:after {
  bottom: 15px;
  right: 0;
}
.menuItem:hover,
.menuItem .current {
  opacity: 1;
}
.menuItem:hover:before,
.menuItem .current :before,
.menuItem:hover:after,
.menuItem .current :after,
.menuItemActive:before,
.menuItemActive:after {
  width: 100%;
}

.mainContainer {
  display: block;
  padding: 30vh 0;
}

.resumeElem {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 0;
}

.resumeElem :nth-child(1) {
  opacity: 0.7;
  font-size: 16px;
  order: 1;
  order: 1;
}

.resumeElem :nth-child(2) {
  flex: 1;
  order: 0;
}

.resumeElem :nth-child(3) {
  opacity: 0.7;
  /* for min-height check width first child */
  order: 3;
  margin-bottom: 100px;
}

@media screen and (min-width: 800px) {
  ul {
    padding: 0 40px;
  }

  h2 {
    font-size: 45px;
  }

  .resumeElem {
    flex-direction: row;
    gap: 30px;
    padding: 30px 0;
  }

  .resumeElem :nth-child(1) {
    opacity: 0.7;
    font-size: 16px;
    position: absolute;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 25px;
    width: 150px;
    text-align: right;
    margin-top: 140px;
    margin-left: -30px;
    order: 0;
  }

  .resumeElem :nth-child(2) {
    min-height: 150px;
    flex: 1;
    padding-left: 15px;
    order: 1;
  }

  .resumeElemSkillsCorrection {
    margin-left: -55px;
  }

  .resumeElem :nth-child(3) {
    /* for min-height check width first child */
    min-height: 150px;
    flex: 3;
    margin-bottom: 0;
  }

  .resumeElemSkillsCorrection2 {
    margin-left: 60px;
  }
}

@media screen and (max-width: 800px) {
  .educationPadding {
    padding-bottom: 80px;
  }

  .h2LessMargin {
    margin-top: -90px;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 0 0 0;
  word-break: break-all;
}

.hideThisText {
  display: none;
}

.codeDirectionReversed {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.email {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  .email {
    flex-direction: row;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
